img.gmcLogo {
    width: 50px;
}

.navlink {
    text-decoration: none;
    color: white;
}

.opdCard {
    border-radius: 0px !important;
    /* height: calc(100vh - 5.5em) !important; */
    /* height: calc(100vh - 90px) !important; */
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

table tr td {
    font-size: 0.8rem !important;
}

thead {
    background: coral;
}

.opdSearchGrp {
    display: flex;
    align-items: center;
}

.opdForm {
    display: flex;
    flex-wrap: wrap;
}

.formInputField {
    width: 150px !important;

}
.dashboardCards{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.dashCardContent{
    width: 100%;
    max-width: 300px;
}

@media screen and (min-width: 375px) {
    .formInputField {
        width: 450px !important;

    }
}

@media screen and (min-width: 768px) {
    .formInputField {
        width: 340px !important
    }
}